/* ======== CONFIGURAÇÕES GERAIS ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Arial, sans-serif;
  line-height: 1.6;
  color: #364241;
  background-color: #1a4a5a;
}

/* ======== CABEÇALHO ======== */
header {
  background-color: #71978c77;
  color: #fffcfc;
  padding: 20px 0;
  position: fixed; /* fixa no topo */
  top: 0;
  left: 0;
  width: 100%;
}

header h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

/* ======== MENU DE NAVEGAÇÃO ======== */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #1a4a5a;
}

/* ======== CONTEÚDO PRINCIPAL ======== */
main {
  max-width: 1000px;
  margin: 120px auto 50px auto; /* espaço por causa do header fixo */
  padding: 20px;
  background-color:rgb(237, 246, 255);
  border-radius: 20px;
}

/* ======== SEÇÕES ======== */
section {
  margin-bottom: 60px;
}

section h2 {
  font-size: 28px;
  color: #20312d;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

/* ======== SOBRE MIM ======== */
figure {
  text-align: center;
  margin-bottom: 20px;
}

figure img {
  border-radius: 45%;
  border: 4px solid #352525;
}

/* ======== PROJETOS ======== */
section#projetos ul {
  list-style-type: disc;
  padding-left: 20px;
}

section#projetos li {
  margin-bottom: 15px;
  line-height: 1.5;
}

section#projetos a {
  text-decoration: none;
  font-weight: bold;
}

section#projetos a:hover {
  text-decoration: underline;
}

/* ======== HABILIDADES ======== */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #00b4d8;
  color: white;
}

/* ======== CONTATO ======== */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
}

button {
  padding: 10px;
  background-color: #00b4d8;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #0096c7;
}

/* ======== RODAPÉ ======== */
footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 15px 0;
  margin-top: 50px;
  font-size: 14px;
}
